<!-- https://ru.m.wikipedia.org/wiki/%D0%A4%D0%B0%D0%B9%D0%BB:Gnome-stock_person.svg -->
<!-- https://de.wikipedia.org/wiki/Datei:Icon_of_three_people_in_different_shades_of_grey.svg -->

<!-- 

A concept for a chat interface. 

Author's contacts:
  Twitter: https://twitter.com/thatguyemil
  Codepen: https://codepen.io/emilcarlsson/
  Website: http://emilcarlsson.se/

-->
<!DOCTYPE html><html class=''>
<head>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  
  <link rel="stylesheet" href="public/style.css">
</head>
<body>
  <div id="frame">
      <div id="sidepanel">
          <div id="profile">
              <div class="wrap">
                  <img id="profile-img" src="<%= user.icon %>" class="online" alt="" />
                    <% if (user.name) { %>
                      <p><%= user.name + ' (' + user.nick  +')' %></p>
                    <% } else { %>
                      <p><%= user.nick %></p>
                    <% } %>
                  <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                  <div id="status-options">
                      <ul>
                          <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                          <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                          <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                          <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                          <li id="logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true">Logout</i></li>
                      </ul>
                  </div>
                  <div id="expanded">
                      <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                      <input name="twitter" type="text" value="mikeross" />
                      <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                      <input name="twitter" type="text" value="ross81" />
                      <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                      <input name="twitter" type="text" value="mike.ross" />
                  </div>
              </div>
          </div>
          <div id="search">
              <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
              <input type="text" placeholder="Search contacts..." />
          </div>
          <div id="contacts">
              <ul>
                <% for(var i=0; i<contacts.length;i++) {%>
                  <li class="contact" data-room-key="<%=contacts[i].room_key%>">
                      <div class="wrap">
                          <span class="contact-status"></span>
                          <% if (contacts[i].icon) { %>
                            <img src="<%=contacts[i].icon%>" alt="">
                          <% } else { %>
                            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                          <% } %>
                          <div class="meta">
                              <p class="name"><%=contacts[i].name || contacts[i].nick %></p>
                              <p class="typing" style="display:none"><i class="fa fa-pencil" aria-hidden="true"></i>typing...</p>
                              <% if (contacts[i].room_last_message) { %>
                                <p class="preview">
                                  <% if (contacts[i].created_by == user.id) { %> <span>You: </span> <% } %>
                                  <%=contacts[i].room_last_message %>
                                </p>
                              <% } else { %>
                                <p class="preview"><span>No messages yet...</span> %></p>
                              <% } %>  
                          </div>
                      </div>
                  </li>
                <%} %>
              </ul>
          </div>
          <div id="bottom-bar">
              <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
              <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
          </div>
      </div>
      <div class="content">
        <p>Choose any contact for messaging...</p>
          <div class="contact-profile" style="display:none">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>Harvey Specter</p>
              <div class="social-media">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
          </div>
          <div class="messages" style="display:none">
              <ul>
              </ul>
          </div>
          <div class="message-input" style="display:none">
              <div class="wrap">
              <input type="text" placeholder="Write your message..." />
              <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
              <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </div>
          </div>
      </div>
  </div>
  
  <!-- The Modal -->
  <div id="modal-form" class="modal">
  
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="public/main.js"></script>
</body>
